# NLP Resume Matcher — Python 3.9+
# Install with: pip install -r requirements.txt

# Web UI
streamlit==1.35.0

# PDF Extraction
pdfplumber==0.11.0

# NLP / Text Processing
nltk==3.8.1

# Machine Learning / Similarity
scikit-learn==1.5.0
numpy==1.26.4

# Testing
pytest==8.2.1

# Generate pdf
reportlab==4.2.0

# Computer Vision
opencv-python==4.10.0.84

# Facial Landmark Detection
mediapipe==0.10.14

fastapi>=0.111.0
uvicorn[standard]>=0.29.0
websockets>=12.0